<!DOCTYPE html>
<html lang="en">
  
    <body>
        <h1 style="text-align: center;">EDUCATION</h1>
        <main>
            <div class="c1">
                <div class="in1">
                    <h1 style="text-align: center; font-size: x-large;color: gray;">Higher Secondary </h1>
                    <h5 style="font-size: 15px;">School : Rasi International School</h5>
                    <h5 style="font-size: 15px;">Year : 2016-2018</h5>
                    <h5 style="font-size: 15px;">Percentage : 88.8%</h5>
                    <h5 style="font-size: 15px;">Achievements: Top 10% of the class, Throwball team captain</h5>
                    

                    <h1  style="text-align: center;font-size: x-large;color: gray;">Senior Secondary </h1>
                    <h5 style="font-size: 15px;">School : Rasi International School</h5>
                    <h5 style="font-size: 15px;">Year : 2018-2020</h5>
                    <h5 style="font-size: 15px;"> Percentage : 86.6%</h5>
                    <h5 style="font-size: 15px;">Achievements: Top 10% of the class, Throwball team captain</h5>
                    <h5 style="font-size: 15px;">Relevant Coursework: Mathematics, Physics, Chemistry  </h5>
                </div>
                <div class="in2">
                    <h1 style="text-align: center; font-size: x-large;color: gray;">Under-Graduate Programme </h1>
                    <h5 style="font-size: 15px;">College : Bannari Amman Institute of Technology</h5>
                    <h5 style="font-size: 15px">University : Anna University</h5>
                    <h5 style="font-size: 15px;">Year : 2020-20124</h5>
                    <h5 style="font-size: 15px;">CGPA : 8.7</h5>
                    <h5 style="font-size: 15px;">Part of COSE(COMMUNITY SERVICE) club</h5>
                    
                    

                </div>
            </div>
           
           
        </main>
       
    </body>
</html>